# {{ ansible_managed }}

# Do not log attempts for common files
location ~ ^/(favicon.ico|robots.txt) {
    access_log off;
    log_not_found off;
}

# Deny access to hidden files
location ~ /\. {
    access_log off;
    log_not_found off;
    return 404;
}

# Don't skip .thumbs, this is a default directory where Magento places thumbnails
# Nginx cannot "not" match something, instead the target is matched with an empty block
# http://stackoverflow.com/a/16304073
location ~ /\.thumbs {
}

{% if nginx_drop_extensions %}
# Deny obviously bad requests
location ~ \.({% for ext in nginx_drop_extensions %}{{ ext }}{% if loop.last == false %}|{% endif %}{% endfor %})$ {
    return 410;
}
{% endif %}
