{% extends "vhost-conf.j2" %}
{% block platform %}
{% if item.server.platform_subdir is defined and item.server.platform_subdir|lower != 'none' %}
{% set location_dir = item.server.platform_subdir %}
{% else %}
{% set location_dir = '' %}
{% endif %}

    ###
    #
    # START DRUPAL CONFIGURATION
    #
    ###

    # Deny access to files the public doesn't need
    location ~* ^.+(\.(txt|log|engine|inc|info|install|make|module|profile|test|po|sh|sql|theme|tpl(\.php)?|xtmpl))$ {
        internal;
    }

    # Deny access to other PHP files
    location ~ \..*/.*\.php {
        internal;
    }

    # Deny access to private and backups
    location ~* ^/{{ location_dir }}sites/.*/(private|files/backup_migrate)/ {
        access_log off;
        return 404;
    }

    # Attempt to serve the request by trying direct file, directory, Drupal Controller
    location /{{ location_dir }} {
        try_files $uri $uri/ /{{ location_dir }}index.php?q=$uri&$args;
        expires max;
    }

    # Check: http://wiki.nginx.org/Pitfalls
    location ~* (install|update|apc|info)\.php$ {
        auth_basic "Restricted";
        auth_basic_user_file {{ nginx_config_dir }}/.htpasswd;

        # do not cache dynamic content
        expires off;

        # php5 specific configuration options
        include {{ nginx_config_dir }}/fastcgi_params;
    }

    # Below locations are for image cache
    location ~* files/styles {
        access_log off;
        log_not_found off;
        expires max;
        try_files $uri @image_rewrite;
    }

    location @image_rewrite {
        rewrite ^/(.*)$ /{{ location_dir }}index.php?q=$1;
    }

    ###
    #
    # END DRUPAL CONFIGURATION
    #
    ###

{% endblock %}
