{% extends "vhost-conf.j2" %}
{% block platform %}
{% if item.server.platform_subdir is defined and item.server.platform_subdir|lower != 'none' %}
{% set location_dir = item.server.platform_subdir %}
{% else %}
{% set location_dir = '' %}
{% endif %}

    ###
    #
    # START WORDPRESS CONFIGURATION
    #
    ###

    # Deny access to any files with a .php extension in the uploads directory
    # Works in sub-directory installs and also in multisite network
    # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
    location ~* /{{ location_dir }}(?:uploads|files)/.*\.php$ {
        deny all;
    }

    # Attempted to match last if rules below fail.
    # http://wiki.nginx.org/HttpCoreModule
    location /{{ location_dir }} {
        try_files $uri $uri/ /{{ location_dir }}index.php?$args;
        expires max;
    }

    # Add trailing slash to */wp-admin requests.
    rewrite /{{ location_dir }}wp-admin$ $scheme://$host$uri/ permanent;

    ###
    #
    # END WORDPRESS CONFIGURATION
    #
    ###

{% endblock %}
